:root {
  --primary-bg-color: #060606;
  --secondary-bg-color: #181818;
  --tertiary-bg-color: #3636e7;
  --quaternary-bg-color: #3030c7;
  --quinary-bg-color: #5497fa;
  --senary-bg-color: #2a2a2a;

  /* can also set opacity to 0.2 and blur(0.5rem) in nav */
  --nav-bg-color: rgba(44, 44, 44, 1);

  --primary-txt-color: #c7c7c7;
  --secondary-txt-color: #5497fa;
  --tertiary-txt-color: #eaeaea;

  --gradient-bg-color-deg: 0deg;
  --gradient-bg-color: linear-gradient(
    var(--gradient-bg-color-deg),
    var(--primary-bg-color),
    var(--secondary-bg-color)
  );

  --transition-timing: cubic-bezier(0.165, 0.84, 0.44, 1);

  --icon-size: 3.5rem;

  --z-forward: 100;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  border-width: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 2rem;
  margin: 5rem 0rem 3rem 0rem;
  text-align: center;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: var(--secondary-bg-color);

  display: flex;
  justify-content: space-between;
  align-items: end;
}

footer div {
  padding: 1rem 1rem;
  text-align: right;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: var(--primary-txt-color);
}

table {
  min-width: 80%;
  max-width: 80%;
  border-collapse: collapse;
}

table tr {
  border-bottom: var(--secondary-bg-color) solid 1px;
  transition: all 1s var(--transition-timing);
}

table tr th,
table tr td {
  padding: 1rem;
  text-align: center;
  min-width: 10rem;
}
table tr:has(th) {
  background-color: var(--secondary-bg-color);
}
table tr:has(td):hover {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-txt-color);
}
tr th:first-child {
  border-top-left-radius: 10px;
}
tr th:last-child {
  border-top-right-radius: 10px;
}

ul li {
  margin: 0.5rem 0 0.5rem 0;
}

section {
  width: 100%;
  padding: 30vh 0 5rem 0;
  /* background-color: var(--primary-bg-color); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

p {
  text-align: center;
  line-height: 1.5rem;
}

span.highlight {
  color: var(--secondary-txt-color);
}

img {
  object-fit: cover;
}

.intro {
  height: 75vh;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: var(--gradient-bg-color);
}

.icon-head {
  position: fixed;
  padding: 0.7rem;
  border-radius: 1rem;
  background-color: transparent;
  top: 3rem;
  z-index: calc(var(--z-forward) + 1);
}

.intro header {
  opacity: 0;
  margin: 30vh 0rem 20vh 0rem;
  transition: all 0.5s 0s;
}

nav {
  min-width: 90%;
  height: 3rem;
  background-color: var(--nav-bg-color);
  border-radius: 1rem;
  /* backdrop-filter: blur(0.5rem); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 4rem;
  z-index: calc(var(--z-forward));
}
nav > a {
  color: var(--tertiary-txt-color);
  padding: 0.7rem;
  border-radius: 1rem;
  transition: all 0.5s var(--transition-timing);
}
nav > a:hover {
  background-color: var(--tertiary-bg-color);
}
nav > a.current {
  background-color: var(--quaternary-bg-color);
}

img.headshot {
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
  border: var(--secondary-bg-color) solid 1px;
  filter: grayscale(80%);
  transition: all 0.5s 0s var(--transition-timing);
}
img.headshot:hover {
  border: var(--quinary-bg-color) solid 1px;
  filter: grayscale(50%);
}

.column-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 10rem 0rem 10rem;
}
.column-container > * {
  min-width: 20%;
  max-width: 45%;
}

.panels {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.panels.rows {
  flex-direction: column;
}
.panels.columns {
  flex-direction: row;
  width: 80%;
}

.panel {
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: top;
  border-radius: 1rem;
  border: var(--senary-bg-color) solid 1px;
  background-color: var(--secondary-bg-color);
  transition: all 0.5s 0s var(--transition-timing);
}
.panel * {
  transition: inherit;
}
.panels.rows .panel {
  width: 80%;
  min-height: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: bottom;
}
.panels.columns .panel {
  min-width: 25rem;
  height: 20rem;
}
.panel:hover {
  background-color: var(--senary-bg-color);
  border: var(--quinary-bg-color) solid 1px;
}

.panel .panel-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 4rem 0.2rem 1rem;
}
.panel h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 0 0;
}
.panel h4 {
  color: var(--secondary-txt-color);
  font-weight: 700;
  margin: 0 0 0 0;
}
.panel h5 {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 0.5rem 1rem;
}
.panel p {
  text-align: justify;
  margin: 0 8rem 1rem 2rem;
}

.panel img {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(80%);
}
.panel:hover img {
  transform: scale(1.1);
  filter: none;
}

.panel .reveal {
  position: relative;
  padding: 1rem 0rem 1rem 0rem;
  background-color: #5496fae2;
  text-align: center;
  transform: translateY(100%);
}
.panel:hover .reveal {
  transform: translateY(0%);
}

.icons {
  font-size: var(--icon-size);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}
.icons .icon {
  width: calc(var(--icon-size) * 1.2);
  height: calc(var(--icon-size) * 1.2);
  border-radius: 1rem;
  background-color: var(--secondary-bg-color);
  color: var(--tertiary-txt-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s 0s var(--transition-timing);
}
.icons .icon:hover {
  background-color: var(--quinary-bg-color);
}
.icons .dev-icon {
  background-color: var(--quinary-bg-color);
  transition: all 0.5s 0s var(--transition-timing);
}
.icons .dev-icon:hover {
  transform: translateY(-1rem);
}

@media (max-width: 80em) {
  :root {
    font-size: 24px;
  }
}
