:root {
  --primary-bg-color: #060606;
  --secondary-bg-color: #181818;
  --tertiary-bg-color: #3636e7;
  --quaternary-bg-color: #3030c7;
  --quinary-bg-color: #5497fa;
  --senary-bg-color: #2a2a2a;

  --nav-bg-color: rgba(44, 44, 44, 0.2);

  --primary-txt-color: #c7c7c7;
  --secondary-txt-color: #5497fa;
  --tertiary-txt-color: #eaeaea;

  --gradient-bg-color-deg: 0deg;
  --gradient-bg-color: linear-gradient(
    var(--gradient-bg-color-deg),
    var(--primary-bg-color),
    var(--secondary-bg-color)
  );

  --transition-timing: cubic-bezier(0.165, 0.84, 0.44, 1);

  --z-forward: 100;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  border-width: 0px;
  padding: 0px;
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

header {
  font-size: 32px;
  text-align: center;
  margin: 0rem 0rem 5rem 0rem;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: var(--secondary-bg-color);

  display: flex;
  justify-content: space-between;
  align-items: end;
}

footer div {
  padding: 1rem 1rem;
  text-align: right;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: var(--primary-txt-color);
}

table {
  width: 80%;
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid var(--secondary-bg-color);
  transition: all 1s var(--transition-timing);
}

table tr th,
table tr td {
  padding: 1rem;
  text-align: center;
  min-width: 10rem;
}

table tr:has(th) {
  background-color: var(--secondary-bg-color);
}

table tr:has(td):hover {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-txt-color);
}

tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul li {
  margin: 0.5rem 0 0.5rem 0;
}

section {
  width: 100%;
  padding: 30vh 0 5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

p {
  max-width: 55%;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5rem; /* Add this line */
}

span.highlight {
  color: var(--secondary-txt-color);
}

.intro {
  width: 100%;
  height: 75vh;
  padding: 10vh 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient-bg-color);
}

.icon-head {
  position: fixed;
  border-radius: 1rem;
  padding: 10px;
  background-color: transparent;
  margin-top: 5vh;
  top: 2vh;
  z-index: calc(var(--z-forward) + 1);
}

.intro header {
  opacity: 0;
  transition: all 0.5s 0s;
}

nav {
  width: 90%;
  height: 50px;
  background-color: var(--nav-bg-color);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 4rem;
  z-index: calc(var(--z-forward) + 1);
}
nav > a {
  color: var(--tertiary-txt-color);
  padding: 10px;
  border-radius: 1rem;
  transition: all 0.5s var(--transition-timing);
}
nav > a:hover {
  background-color: var(--tertiary-bg-color);
}
nav > a.current {
  background-color: var(--quaternary-bg-color);
}

img {
  object-fit: cover;
}

img.headshot {
  min-width: 20%;
  height: 50vh;
  border-radius: 1rem;
  border: var(--secondary-bg-color) solid 1px;
  filter: grayscale(80%);
  transition: all 0.5s 0s var(--transition-timing);
}
img.headshot:hover {
  filter: grayscale(50%);
  border: var(--quinary-bg-color) solid 1px;
}

.column-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 10rem 0rem 10rem;
}
.column-container > * {
  width: 35%;
}

.panels {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.panels.rows {
  flex-direction: column;
}
.panels.columns {
  flex-direction: row;
}

.panel {
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: top;
  border-radius: 1rem;
  border: var(--senary-bg-color) solid 1px;
  background-color: var(--secondary-bg-color);
  transition: all 0.5s 0s var(--transition-timing);
}
.panel * {
  transition: inherit;
}
.panels.rows .panel {
  width: 80%;
  min-height: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: bottom;
}
.panels.columns .panel {
  min-width: 20%;
  height: 30vw;
}
.panel:hover {
  background-color: var(--senary-bg-color);
  border: var(--quinary-bg-color) solid 1px;
}

.panel .panel-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 4rem 0.2rem 1rem;
}
.panel h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 0 0;
}
.panel h4 {
  color: var(--secondary-txt-color);
  font-weight: 700;
  margin: 0 0 0 0;
}
.panel h5 {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 0.5rem 1rem;
}
.panel p {
  max-width: 100%;
  font-size: 1rem;
  text-align: justify;
  margin: 0 8rem 1rem 2rem;
}

.panel img {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(80%);
}
.panel:hover img {
  transform: scale(1.1);
  filter: none;
}

.panel .reveal {
  position: relative;
  padding: 1rem 0rem 1rem 0rem;
  background-color: #5496fae2;
  text-align: center;
  transform: translateY(100%);
}
.panel:hover .reveal {
  transform: translateY(0%);
}

.icons {
  max-width: 40%;
  font-size: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.icons .icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
  background-color: var(--secondary-bg-color);
  color: var(--tertiary-txt-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 1s 0s var(--transition-timing);
}

.icons .icon:hover {
  background-color: var(--quinary-bg-color);
}

.icons .dev-icon {
  background-color: var(--quinary-bg-color);
  transition: all 0.5s 0s var(--transition-timing);
}

.icons .dev-icon:hover {
  transform: translateY(-1rem);
}
